/**
 * Provides styles for answers
 */

.answer {
    padding: 1em;
    display: flex;
    flex-direction: row;
    color: #5F6062;
    font-size: 1.5em;
    box-shadow: 0 5px 12px 1px rgba(0, 0, 0, 0.23);
    transition: transform 0.1s;
    margin-bottom: 1em;
    background: white;
    border-left: 0.2em solid #005695;
}

.answer:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    color: #005695;
}

.answer .id {
    padding-right: 0.5em;
    font-size: 4em;
    font-weight: bold;
}

.answer .text {
    font-weight: lighter;
}